<!-- Edit this file to change the layout of each record in the table view -->
<!-- To disable clicking of a field, remove the <%%select%%> and <%%endselect%%> formatters around it-->

<!-- If you wish to hide the table view header that contains the column titles, -->
<!-- open the generated 'biblio_doc_view.php' file in your text editor and -->
<!-- change the value of $x->ShowTableHeader to 0 -->

		<td id="biblio_doc-id-<%%VALUE(id)%%>" class="biblio_doc-id text-right"><%%SELECT%%><%%VALUE(id)%%><%%ENDSELECT%%></td>
		<td id="biblio_doc-img-<%%VALUE(id)%%>" class="biblio_doc-img "><a href="<%%TRANSLATION(ImageFolder)%%><%%VALUE(img)%%>" rel="lightbox"><img src="thumbnail.php?i=<%%VALUE(img)%%>&t=biblio_doc&f=img&v=tv" class="img-thumbnail"></a></td>
		<td id="biblio_doc-author_name-<%%VALUE(id)%%>" class="biblio_doc-author_name "><%%SELECT%%><%%VALUE(author_name)%%><%%ENDSELECT%%></td>
		<td id="biblio_doc-published-<%%VALUE(id)%%>" class="biblio_doc-published "><%%SELECT%%><%%VALUE(published)%%><%%ENDSELECT%%></td>
		<td id="biblio_doc-title-<%%VALUE(id)%%>" class="biblio_doc-title "><%%SELECT%%><%%VALUE(title)%%><%%ENDSELECT%%></td>
		<td id="biblio_doc-publisher-<%%VALUE(id)%%>" class="biblio_doc-publisher "><%%SELECT%%><%%VALUE(publisher)%%><%%ENDSELECT%%></td>
		<td id="biblio_doc-location-<%%VALUE(id)%%>" class="biblio_doc-location "><%%SELECT%%><%%VALUE(location)%%><%%ENDSELECT%%></td>
		<td id="biblio_doc-pdf_book-<%%VALUE(id)%%>" class="biblio_doc-pdf_book "><a href="link.php?t=biblio_doc&f=pdf_book&i=<%%VALUE(id)%%>" target="_blank" title="<%%VALUE(pdf_book)%%>" class="btn btn-default"><i class="glyphicon glyphicon-globe text-info"></i></a></td>
		<td id="biblio_doc-ext_source-<%%VALUE(id)%%>" class="biblio_doc-ext_source "><a href="link.php?t=biblio_doc&f=ext_source&i=<%%VALUE(id)%%>" target="_blank" title="<%%VALUE(ext_source)%%>" class="btn btn-default"><i class="glyphicon glyphicon-globe text-info"></i></a></td>
		<script>jQuery(function(){ var e_img='<%%VALUE(img)%%>'; if(e_img=='' || e_img=='&nbsp;') jQuery('#biblio_doc-img-<%%VALUE(id)%%>').html(''); });</script>
		<script>jQuery(function(){ var e_pdf_book='<%%VALUE(pdf_book)%%>'; if(e_pdf_book=='' || e_pdf_book=='&nbsp;') jQuery('#biblio_doc-pdf_book-<%%VALUE(id)%%>').html(''); });</script>
		<script>jQuery(function(){ var e_ext_source='<%%VALUE(ext_source)%%>'; if(e_ext_source=='' || e_ext_source=='&nbsp;') jQuery('#biblio_doc-ext_source-<%%VALUE(id)%%>').html(''); });</script>
