<!-- Edit this file to change the layout of the highlighted record in the table view -->
		<td id="biblio_token-id-<%%VALUE(id)%%>" class="text-right"><%%VALUE(id)%%></td>
		<td id="biblio_token-author-<%%VALUE(id)%%>" class=""><%%VALUE(author)%%></td>
		<td id="biblio_token-bibliography-<%%VALUE(id)%%>" class="text-right"><%%VALUE(bibliography)%%></td>
		<td id="biblio_token-transcript-<%%VALUE(id)%%>" class=""><%%VALUE(transcript)%%></td>
		<td id="biblio_token-token_sequence-<%%VALUE(id)%%>" class="text-right"><%%VALUE(token_sequence)%%></td>
		<td id="biblio_token-token-<%%VALUE(id)%%>" class=""><%%VALUE(token)%%></td>
