<!-- Edit this file to change the layout of the highlighted record in the table view -->
		<td id="biblio_author-memberID-<%%VALUE(id)%%>" class=""><%%VALUE(memberID)%%></td>
		<td id="biblio_author-img-<%%VALUE(id)%%>" class=""><a href="<%%TRANSLATION(ImageFolder)%%><%%VALUE(img)%%>" rel="lightbox"><img src="thumbnail.php?i=<%%VALUE(img)%%>&t=biblio_author&f=img&v=tv" class="img-thumbnail"></a></td>
		<td id="biblio_author-gender-<%%VALUE(id)%%>" class=""><%%VALUE(gender)%%></td>
		<td id="biblio_author-last_name-<%%VALUE(id)%%>" class=""><%%VALUE(last_name)%%></td>
		<td id="biblio_author-first_name-<%%VALUE(id)%%>" class=""><%%VALUE(first_name)%%></td>
		<td id="biblio_author-birthday-<%%VALUE(id)%%>" class=""><%%VALUE(birthday)%%></td>
