<!-- Edit this file to change the layout of each record in the table view -->
<!-- To disable clicking of a field, remove the <%%select%%> and <%%endselect%%> formatters around it-->

<!-- If you wish to hide the table view header that contains the column titles, -->
<!-- open the generated 'class_dramatica_issue_view.php' file in your text editor and -->
<!-- change the value of $x->ShowTableHeader to 0 -->

		<td id="class_dramatica_issue-id-<%%VALUE(id)%%>" class="class_dramatica_issue-id text-right"><%%SELECT%%><%%VALUE(id)%%><%%ENDSELECT%%></td>
		<td id="class_dramatica_issue-domain-<%%VALUE(id)%%>" class="class_dramatica_issue-domain text-right"><%%SELECT%%><%%VALUE(domain)%%><%%ENDSELECT%%></td>
		<td id="class_dramatica_issue-concern-<%%VALUE(id)%%>" class="class_dramatica_issue-concern text-right"><%%SELECT%%><%%VALUE(concern)%%><%%ENDSELECT%%></td>
		<td id="class_dramatica_issue-issue-<%%VALUE(id)%%>" class="class_dramatica_issue-issue "><%%SELECT%%><%%VALUE(issue)%%><%%ENDSELECT%%></td>
		<td id="class_dramatica_issue-description-<%%VALUE(id)%%>" class="class_dramatica_issue-description "><%%SELECT%%><%%VALUE(description)%%><%%ENDSELECT%%></td>
