<!-- Edit this file to change the layout of each record in the table view -->
<!-- To disable clicking of a field, remove the <%%select%%> and <%%endselect%%> formatters around it-->

<!-- If you wish to hide the table view header that contains the column titles, -->
<!-- open the generated 'class_character_element_view.php' file in your text editor and -->
<!-- change the value of $x->ShowTableHeader to 0 -->

		<td id="class_character_element-element-<%%VALUE(id)%%>" class="class_character_element-element "><%%SELECT%%><%%VALUE(element)%%><%%ENDSELECT%%></td>
		<td id="class_character_element-value-<%%VALUE(id)%%>" class="class_character_element-value "><%%SELECT%%><%%VALUE(value)%%><%%ENDSELECT%%></td>
