<!-- Edit this file to change the layout of the highlighted record in the table view -->
		<td id="class_dramatica_themes-id-<%%VALUE(id)%%>" class="text-right"><%%VALUE(id)%%></td>
		<td id="class_dramatica_themes-domain-<%%VALUE(id)%%>" class="text-right"><%%VALUE(domain)%%></td>
		<td id="class_dramatica_themes-concern-<%%VALUE(id)%%>" class="text-right"><%%VALUE(concern)%%></td>
		<td id="class_dramatica_themes-issue-<%%VALUE(id)%%>" class="text-right"><%%VALUE(issue)%%></td>
		<td id="class_dramatica_themes-theme-<%%VALUE(id)%%>" class=""><%%VALUE(theme)%%></td>
		<td id="class_dramatica_themes-description-<%%VALUE(id)%%>" class=""><%%VALUE(description)%%></td>
