<!-- Edit this file to change the layout of each record in the table view -->
<!-- To disable clicking of a field, remove the <%%select%%> and <%%endselect%%> formatters around it-->

<!-- If you wish to hide the table view header that contains the column titles, -->
<!-- open the generated 'class_bibliography_type_view.php' file in your text editor and -->
<!-- change the value of $x->ShowTableHeader to 0 -->

		<td id="class_bibliography_type-id-<%%VALUE(id)%%>" class="class_bibliography_type-id text-right"><%%SELECT%%><%%VALUE(id)%%><%%ENDSELECT%%></td>
		<td id="class_bibliography_type-type-<%%VALUE(id)%%>" class="class_bibliography_type-type "><%%SELECT%%><%%VALUE(type)%%><%%ENDSELECT%%></td>
