<!-- Edit this file to change the layout of the highlighted record in the table view -->
		<td id="class_dramatica_issue-id-<%%VALUE(id)%%>" class="text-right"><%%VALUE(id)%%></td>
		<td id="class_dramatica_issue-domain-<%%VALUE(id)%%>" class="text-right"><%%VALUE(domain)%%></td>
		<td id="class_dramatica_issue-concern-<%%VALUE(id)%%>" class="text-right"><%%VALUE(concern)%%></td>
		<td id="class_dramatica_issue-issue-<%%VALUE(id)%%>" class=""><%%VALUE(issue)%%></td>
		<td id="class_dramatica_issue-description-<%%VALUE(id)%%>" class=""><%%VALUE(description)%%></td>
