<!-- Edit this file to change the layout of the highlighted record in the table view -->
		<td id="code_character_development-story-<%%VALUE(id)%%>" class=""><%%VALUE(story)%%></td>
		<td id="code_character_development-agent-<%%VALUE(id)%%>" class=""><%%VALUE(agent)%%></td>
		<td id="code_character_development-story_character-<%%VALUE(id)%%>" class=""><%%VALUE(story_character)%%></td>
		<td id="code_character_development-token-<%%VALUE(id)%%>" class=""><%%VALUE(token)%%></td>
		<td id="code_character_development-code-<%%VALUE(id)%%>" class=""><%%VALUE(code)%%></td>
		<td id="code_character_development-character_element-<%%VALUE(id)%%>" class=""><%%VALUE(character_element)%%></td>
		<td id="code_character_development-character_elem_value-<%%VALUE(id)%%>" class=""><%%VALUE(character_elem_value)%%></td>
		<td id="code_character_development-comment-<%%VALUE(id)%%>" class=""><%%VALUE(comment)%%></td>
