<!-- Edit this file to change the layout of each record in the table view -->
<!-- To disable clicking of a field, remove the <%%select%%> and <%%endselect%%> formatters around it-->

<!-- If you wish to hide the table view header that contains the column titles, -->
<!-- open the generated 'code_herme_view.php' file in your text editor and -->
<!-- change the value of $x->ShowTableHeader to 0 -->

		<td id="code_herme-id-<%%VALUE(id)%%>" class="code_herme-id text-right"><%%SELECT%%><%%VALUE(id)%%><%%ENDSELECT%%></td>
		<td id="code_herme-author-<%%VALUE(id)%%>" class="code_herme-author "><%%SELECT%%><%%VALUE(author)%%><%%ENDSELECT%%></td>
		<td id="code_herme-bibliography-<%%VALUE(id)%%>" class="code_herme-bibliography text-right"><%%SELECT%%><%%VALUE(bibliography)%%><%%ENDSELECT%%></td>
		<td id="code_herme-transcript-<%%VALUE(id)%%>" class="code_herme-transcript "><%%SELECT%%><%%VALUE(transcript)%%><%%ENDSELECT%%></td>
		<td id="code_herme-token_sequence-<%%VALUE(id)%%>" class="code_herme-token_sequence text-right"><%%SELECT%%><%%VALUE(token_sequence)%%><%%ENDSELECT%%></td>
		<td id="code_herme-token-<%%VALUE(id)%%>" class="code_herme-token text-right"><%%SELECT%%><%%VALUE(token)%%><%%ENDSELECT%%></td>
		<td id="code_herme-impression-<%%VALUE(id)%%>" class="code_herme-impression text-right"><%%SELECT%%><%%VALUE(impression)%%><%%ENDSELECT%%></td>
		<td id="code_herme-noetictension-<%%VALUE(id)%%>" class="code_herme-noetictension text-right"><%%SELECT%%><%%VALUE(noetictension)%%><%%ENDSELECT%%></td>
		<td id="code_herme-freecode-<%%VALUE(id)%%>" class="code_herme-freecode "><%%SELECT%%><%%VALUE(freecode)%%><%%ENDSELECT%%></td>
