<!-- Edit this file to change the layout of the highlighted record in the table view -->
		<td id="code_encounters-id-<%%VALUE(id)%%>" class="text-right"><%%VALUE(id)%%></td>
		<td id="code_encounters-agentA-<%%VALUE(id)%%>" class=""><%%VALUE(agentA)%%></td>
		<td id="code_encounters-agentB-<%%VALUE(id)%%>" class=""><%%VALUE(agentB)%%></td>
		<td id="code_encounters-type-<%%VALUE(id)%%>" class=""><%%VALUE(type)%%></td>
		<td id="code_encounters-conflicttype-<%%VALUE(id)%%>" class=""><%%VALUE(conflicttype)%%></td>
		<td id="code_encounters-story_scene-<%%VALUE(id)%%>" class=""><%%VALUE(story_scene)%%></td>
