<!-- Edit this file to change the layout of each record in the table view -->
<!-- To disable clicking of a field, remove the <%%select%%> and <%%endselect%%> formatters around it-->

<!-- If you wish to hide the table view header that contains the column titles, -->
<!-- open the generated 'code_character_development_view.php' file in your text editor and -->
<!-- change the value of $x->ShowTableHeader to 0 -->

		<td id="code_character_development-story-<%%VALUE(id)%%>" class="code_character_development-story "><%%SELECT%%><%%VALUE(story)%%><%%ENDSELECT%%></td>
		<td id="code_character_development-agent-<%%VALUE(id)%%>" class="code_character_development-agent "><%%SELECT%%><%%VALUE(agent)%%><%%ENDSELECT%%></td>
		<td id="code_character_development-story_character-<%%VALUE(id)%%>" class="code_character_development-story_character "><%%SELECT%%><%%VALUE(story_character)%%><%%ENDSELECT%%></td>
		<td id="code_character_development-token-<%%VALUE(id)%%>" class="code_character_development-token "><%%SELECT%%><%%VALUE(token)%%><%%ENDSELECT%%></td>
		<td id="code_character_development-code-<%%VALUE(id)%%>" class="code_character_development-code "><%%SELECT%%><%%VALUE(code)%%><%%ENDSELECT%%></td>
		<td id="code_character_development-character_element-<%%VALUE(id)%%>" class="code_character_development-character_element "><%%SELECT%%><%%VALUE(character_element)%%><%%ENDSELECT%%></td>
		<td id="code_character_development-character_elem_value-<%%VALUE(id)%%>" class="code_character_development-character_elem_value "><%%SELECT%%><%%VALUE(character_elem_value)%%><%%ENDSELECT%%></td>
		<td id="code_character_development-comment-<%%VALUE(id)%%>" class="code_character_development-comment "><%%SELECT%%><%%VALUE(comment)%%><%%ENDSELECT%%></td>
