<!-- Edit this file to change the layout of the highlighted record in the table view -->
		<td id="code_chrev_scenes-id-<%%VALUE(id)%%>" class="text-right"><%%VALUE(id)%%></td>
		<td id="code_chrev_scenes-author-<%%VALUE(id)%%>" class=""><%%VALUE(author)%%></td>
		<td id="code_chrev_scenes-bibliography-<%%VALUE(id)%%>" class="text-right"><%%VALUE(bibliography)%%></td>
		<td id="code_chrev_scenes-transcript-<%%VALUE(id)%%>" class="text-right"><%%VALUE(transcript)%%></td>
		<td id="code_chrev_scenes-token_sequence-<%%VALUE(id)%%>" class=""><%%VALUE(token_sequence)%%></td>
		<td id="code_chrev_scenes-token-<%%VALUE(id)%%>" class="text-right"><%%VALUE(token)%%></td>
		<td id="code_chrev_scenes-agent-<%%VALUE(id)%%>" class="text-right"><%%VALUE(agent)%%></td>
		<td id="code_chrev_scenes-invivo_code-<%%VALUE(id)%%>" class=""><%%VALUE(invivo_code)%%></td>
		<td id="code_chrev_scenes-startdate-<%%VALUE(id)%%>" class="text-right"><%%VALUE(startdate)%%></td>
		<td id="code_chrev_scenes-end_date-<%%VALUE(id)%%>" class=""><%%VALUE(end_date)%%></td>
		<td id="code_chrev_scenes-person-<%%VALUE(id)%%>" class="text-right"><%%VALUE(person)%%></td>
		<td id="code_chrev_scenes-place-<%%VALUE(id)%%>" class="text-right"><%%VALUE(place)%%></td>
		<td id="code_chrev_scenes-freecode-<%%VALUE(id)%%>" class="text-right"><%%VALUE(freecode)%%></td>
		<td id="code_chrev_scenes-herme_code-<%%VALUE(id)%%>" class=""><%%VALUE(herme_code)%%></td>
		<td id="code_chrev_scenes-impression-<%%VALUE(id)%%>" class="text-right"><%%VALUE(impression)%%></td>
		<td id="code_chrev_scenes-noetictension-<%%VALUE(id)%%>" class="text-right"><%%VALUE(noetictension)%%></td>
		<td id="code_chrev_scenes-comment-<%%VALUE(id)%%>" class="text-right"><%%VALUE(comment)%%></td>
		<td id="code_chrev_scenes-scene-<%%VALUE(id)%%>" class=""><%%VALUE(scene)%%></td>
