<!-- Edit this file to change the layout of the highlighted record in the table view -->
		<td id="code_herme-id-<%%VALUE(id)%%>" class="text-right"><%%VALUE(id)%%></td>
		<td id="code_herme-author-<%%VALUE(id)%%>" class=""><%%VALUE(author)%%></td>
		<td id="code_herme-bibliography-<%%VALUE(id)%%>" class="text-right"><%%VALUE(bibliography)%%></td>
		<td id="code_herme-transcript-<%%VALUE(id)%%>" class=""><%%VALUE(transcript)%%></td>
		<td id="code_herme-token_sequence-<%%VALUE(id)%%>" class="text-right"><%%VALUE(token_sequence)%%></td>
		<td id="code_herme-token-<%%VALUE(id)%%>" class="text-right"><%%VALUE(token)%%></td>
		<td id="code_herme-impression-<%%VALUE(id)%%>" class="text-right"><%%VALUE(impression)%%></td>
		<td id="code_herme-noetictension-<%%VALUE(id)%%>" class="text-right"><%%VALUE(noetictension)%%></td>
		<td id="code_herme-freecode-<%%VALUE(id)%%>" class=""><%%VALUE(freecode)%%></td>
