<!-- Edit this file to change the layout of the highlighted record in the table view -->
		<td id="code_invivo-id-<%%VALUE(id)%%>" class="text-right"><%%VALUE(id)%%></td>
		<td id="code_invivo-author-<%%VALUE(id)%%>" class=""><%%VALUE(author)%%></td>
		<td id="code_invivo-bibliography-<%%VALUE(id)%%>" class="text-right"><%%VALUE(bibliography)%%></td>
		<td id="code_invivo-transcript-<%%VALUE(id)%%>" class=""><%%VALUE(transcript)%%></td>
		<td id="code_invivo-token_sequence-<%%VALUE(id)%%>" class="text-right"><%%VALUE(token_sequence)%%></td>
		<td id="code_invivo-token-<%%VALUE(id)%%>" class=""><%%VALUE(token)%%></td>
		<td id="code_invivo-invivo-<%%VALUE(id)%%>" class=""><%%VALUE(invivo)%%></td>
		<td id="code_invivo-start_date-<%%VALUE(id)%%>" class=""><%%VALUE(start_date)%%></td>
		<td id="code_invivo-end_date-<%%VALUE(id)%%>" class=""><%%VALUE(end_date)%%></td>
		<td id="code_invivo-person-<%%VALUE(id)%%>" class=""><%%VALUE(person)%%></td>
		<td id="code_invivo-place-<%%VALUE(id)%%>" class=""><%%VALUE(place)%%></td>
		<td id="code_invivo-freecode-<%%VALUE(id)%%>" class=""><%%VALUE(freecode)%%></td>
