<!-- Edit this file to change the layout of each record in the table view -->
<!-- To disable clicking of a field, remove the <%%select%%> and <%%endselect%%> formatters around it-->

<!-- If you wish to hide the table view header that contains the column titles, -->
<!-- open the generated 'code_chrev_scenes_view.php' file in your text editor and -->
<!-- change the value of $x->ShowTableHeader to 0 -->

		<td id="code_chrev_scenes-id-<%%VALUE(id)%%>" class="code_chrev_scenes-id text-right"><%%SELECT%%><%%VALUE(id)%%><%%ENDSELECT%%></td>
		<td id="code_chrev_scenes-author-<%%VALUE(id)%%>" class="code_chrev_scenes-author "><%%SELECT%%><%%VALUE(author)%%><%%ENDSELECT%%></td>
		<td id="code_chrev_scenes-bibliography-<%%VALUE(id)%%>" class="code_chrev_scenes-bibliography text-right"><%%SELECT%%><%%VALUE(bibliography)%%><%%ENDSELECT%%></td>
		<td id="code_chrev_scenes-transcript-<%%VALUE(id)%%>" class="code_chrev_scenes-transcript text-right"><%%SELECT%%><%%VALUE(transcript)%%><%%ENDSELECT%%></td>
		<td id="code_chrev_scenes-token_sequence-<%%VALUE(id)%%>" class="code_chrev_scenes-token_sequence "><%%SELECT%%><%%VALUE(token_sequence)%%><%%ENDSELECT%%></td>
		<td id="code_chrev_scenes-token-<%%VALUE(id)%%>" class="code_chrev_scenes-token text-right"><%%SELECT%%><%%VALUE(token)%%><%%ENDSELECT%%></td>
		<td id="code_chrev_scenes-agent-<%%VALUE(id)%%>" class="code_chrev_scenes-agent text-right"><%%SELECT%%><%%VALUE(agent)%%><%%ENDSELECT%%></td>
		<td id="code_chrev_scenes-invivo_code-<%%VALUE(id)%%>" class="code_chrev_scenes-invivo_code "><%%SELECT%%><%%VALUE(invivo_code)%%><%%ENDSELECT%%></td>
		<td id="code_chrev_scenes-startdate-<%%VALUE(id)%%>" class="code_chrev_scenes-startdate text-right"><%%SELECT%%><%%VALUE(startdate)%%><%%ENDSELECT%%></td>
		<td id="code_chrev_scenes-end_date-<%%VALUE(id)%%>" class="code_chrev_scenes-end_date "><%%SELECT%%><%%VALUE(end_date)%%><%%ENDSELECT%%></td>
		<td id="code_chrev_scenes-person-<%%VALUE(id)%%>" class="code_chrev_scenes-person text-right"><%%SELECT%%><%%VALUE(person)%%><%%ENDSELECT%%></td>
		<td id="code_chrev_scenes-place-<%%VALUE(id)%%>" class="code_chrev_scenes-place text-right"><%%SELECT%%><%%VALUE(place)%%><%%ENDSELECT%%></td>
		<td id="code_chrev_scenes-freecode-<%%VALUE(id)%%>" class="code_chrev_scenes-freecode text-right"><%%SELECT%%><%%VALUE(freecode)%%><%%ENDSELECT%%></td>
		<td id="code_chrev_scenes-herme_code-<%%VALUE(id)%%>" class="code_chrev_scenes-herme_code "><%%SELECT%%><%%VALUE(herme_code)%%><%%ENDSELECT%%></td>
		<td id="code_chrev_scenes-impression-<%%VALUE(id)%%>" class="code_chrev_scenes-impression text-right"><%%SELECT%%><%%VALUE(impression)%%><%%ENDSELECT%%></td>
		<td id="code_chrev_scenes-noetictension-<%%VALUE(id)%%>" class="code_chrev_scenes-noetictension text-right"><%%SELECT%%><%%VALUE(noetictension)%%><%%ENDSELECT%%></td>
		<td id="code_chrev_scenes-comment-<%%VALUE(id)%%>" class="code_chrev_scenes-comment text-right"><%%SELECT%%><%%VALUE(comment)%%><%%ENDSELECT%%></td>
		<td id="code_chrev_scenes-scene-<%%VALUE(id)%%>" class="code_chrev_scenes-scene "><%%SELECT%%><%%VALUE(scene)%%><%%ENDSELECT%%></td>
