<!-- Edit this file to change the layout of the highlighted record in the table view -->
		<td id="storypoints_static-id-<%%VALUE(id)%%>" class="text-right"><%%VALUE(id)%%></td>
		<td id="storypoints_static-story-<%%VALUE(id)%%>" class="text-right"><%%VALUE(story)%%></td>
		<td id="storypoints_static-throughline-<%%VALUE(id)%%>" class="text-right"><%%VALUE(throughline)%%></td>
		<td id="storypoints_static-throughline_domain-<%%VALUE(id)%%>" class="text-right"><%%VALUE(throughline_domain)%%></td>
		<td id="storypoints_static-concern-<%%VALUE(id)%%>" class="text-right"><%%VALUE(concern)%%></td>
		<td id="storypoints_static-issue-<%%VALUE(id)%%>" class="text-right"><%%VALUE(issue)%%></td>
		<td id="storypoints_static-problem-<%%VALUE(id)%%>" class="text-right"><%%VALUE(problem)%%></td>
