<!-- Edit this file to change the layout of the highlighted record in the table view -->
		<td id="story_characters-id-<%%VALUE(id)%%>" class="text-right"><%%VALUE(id)%%></td>
		<td id="story_characters-story-<%%VALUE(id)%%>" class="text-right"><%%VALUE(story)%%></td>
		<td id="story_characters-role-<%%VALUE(id)%%>" class="text-right"><%%VALUE(role)%%></td>
		<td id="story_characters-character-<%%VALUE(id)%%>" class=""><%%VALUE(character)%%></td>
		<td id="story_characters-memberID-<%%VALUE(id)%%>" class="text-right"><%%VALUE(memberID)%%></td>
		<td id="story_characters-agent_name-<%%VALUE(id)%%>" class=""><%%VALUE(agent_name)%%></td>
		<td id="story_characters-cw_name-<%%VALUE(id)%%>" class=""><%%VALUE(cw_name)%%></td>
		<td id="story_characters-img-<%%VALUE(id)%%>" class="text-right"><a href="<%%TRANSLATION(ImageFolder)%%><%%VALUE(img)%%>" rel="lightbox"><img src="thumbnail.php?i=<%%VALUE(img)%%>&t=biblio_author&f=img&v=tv" class="img-thumbnail"></a></td>
