<!-- Edit this file to change the layout of the highlighted record in the table view -->
		<td id="storylines-id-<%%VALUE(id)%%>" class="text-right"><%%VALUE(id)%%></td>
		<td id="storylines-story-<%%VALUE(id)%%>" class="text-right"><%%VALUE(story)%%></td>
		<td id="storylines-story_act-<%%VALUE(id)%%>" class=""><%%VALUE(story_act)%%></td>
		<td id="storylines-storyweaving_scene_no-<%%VALUE(id)%%>" class=""><%%VALUE(storyweaving_scene_no)%%></td>
		<td id="storylines-storyweaving_scene-<%%VALUE(id)%%>" class="text-right"><%%VALUE(storyweaving_scene)%%></td>
		<td id="storylines-storyweaving_sequence-<%%VALUE(id)%%>" class=""><%%VALUE(storyweaving_sequence)%%></td>
		<td id="storylines-storyweaving_theme-<%%VALUE(id)%%>" class="text-right"><%%VALUE(storyweaving_theme)%%></td>
		<td id="storylines-storyline_no-<%%VALUE(id)%%>" class=""><%%VALUE(storyline_no)%%></td>
		<td id="storylines-storyline-<%%VALUE(id)%%>" class=""><%%VALUE(storyline)%%></td>
