<!-- Edit this file to change the layout of the highlighted record in the table view -->
		<td id="storyweaving_scenes-id-<%%VALUE(id)%%>" class="text-right"><%%VALUE(id)%%></td>
		<td id="storyweaving_scenes-story-<%%VALUE(id)%%>" class="text-right"><%%VALUE(story)%%></td>
		<td id="storyweaving_scenes-step-<%%VALUE(id)%%>" class=""><%%VALUE(step)%%></td>
		<td id="storyweaving_scenes-throughline-<%%VALUE(id)%%>" class="text-right"><%%VALUE(throughline)%%></td>
		<td id="storyweaving_scenes-domain-<%%VALUE(id)%%>" class="text-right"><%%VALUE(domain)%%></td>
		<td id="storyweaving_scenes-concern-<%%VALUE(id)%%>" class="text-right"><%%VALUE(concern)%%></td>
		<td id="storyweaving_scenes-sequence-<%%VALUE(id)%%>" class=""><%%VALUE(sequence)%%></td>
		<td id="storyweaving_scenes-issue-<%%VALUE(id)%%>" class="text-right"><%%VALUE(issue)%%></td>
		<td id="storyweaving_scenes-theme-<%%VALUE(id)%%>" class="text-right"><%%VALUE(theme)%%></td>
