<!-- Edit this file to change the layout of the highlighted record in the table view -->
		<td id="storydynamic-id-<%%VALUE(id)%%>" class="text-right"><%%VALUE(id)%%></td>
		<td id="storydynamic-story-<%%VALUE(id)%%>" class="text-right"><%%VALUE(story)%%></td>
		<td id="storydynamic-MC_resolve-<%%VALUE(id)%%>" class=""><%%VALUE(MC_resolve)%%></td>
		<td id="storydynamic-MC_growth-<%%VALUE(id)%%>" class=""><%%VALUE(MC_growth)%%></td>
		<td id="storydynamic-MC_approach-<%%VALUE(id)%%>" class=""><%%VALUE(MC_approach)%%></td>
		<td id="storydynamic-MC_PS_style-<%%VALUE(id)%%>" class=""><%%VALUE(MC_PS_style)%%></td>
		<td id="storydynamic-IC_resolve-<%%VALUE(id)%%>" class=""><%%VALUE(IC_resolve)%%></td>
